a {
    color: cyan;
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;
}

a:hover {
    color: lightblue;
}

a:active{
    color: red;
    font-style: italic;
    font-family: arial;
}

img {
    width: 200px;
    height: 300px;
}

.main {
    background-color: lightgreen;
    width: 600px;
}

.main h2 {
    background-color: aquamarine;
}
